In [ ]:
!pip install pycaret[full]
!pip install xgboost
!pip uninstall scikit-learn -y
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1

In [ ]:
#Importing Required Stuff
import pandas as pd
import numpy as np
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1
import jinja2

In [ ]:
from pycaret.classification import *
import xgboost

In [16]:
df_train = pd.read_csv('train.csv')
df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaN,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaN,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [17]:
df_train.isna().sum()

id                          0
created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
dtype: int64

In [28]:
df_train['created_at'] = pd.to_datetime(df_train['created_at'], format = "%Y-%m-%d")
df_train['signup_date'] = pd.to_datetime(df_train['signup_date'], format = "%Y-%m-%d")
df_train['created_at'].dtypes
df_train['signup_date'].dtypes

df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaT,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaT,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaT,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [31]:
df_train['created_at_years'] = df_train['created_at'].dt.year
df_train['created_at_month'] = df_train['created_at'].dt.month
df_train['created_at_week'] = df_train['created_at'].dt.week
df_train['created_at_day'] = df_train['created_at'].dt.day
df_train['created_at_dayofweek'] = df_train['created_at'].dt.dayofweek

df_train['signup_date_year'] = df_train['signup_date'].dt.year
df_train['signup_date_month'] = df_train['signup_date'].dt.month
df_train['signup_date_week'] = df_train['signup_date'].dt.week
df_train['signup_date_at_day'] = df_train['signup_date'].dt.day
df_train['signup_date_at_dayofweek'] = df_train['signup_date'].dt.dayofweek

df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,signup_date_year,signup_date_month,signup_date_week,created_at_day,created_at_dayofweek,signup_date_at_day,signup_date_at_dayofweek
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,...,2021,1,53,2020.0,9.0,39.0,1,4,24.0,3.0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,...,2021,1,53,2020.0,9.0,38.0,1,4,19.0,5.0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,...,2021,1,53,2021.0,8.0,32.0,1,4,11.0,2.0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,...,2021,1,53,2017.0,10.0,40.0,1,4,4.0,2.0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,...,2021,1,53,2020.0,6.0,24.0,1,4,8.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,...,2021,12,52,2017.0,10.0,42.0,31,4,19.0,3.0
39157,39158,2021-12-31,3,9,3.0,NaT,0,0,0,0,...,2021,12,52,NaN,NaN,NaN,31,4,NaN,NaN
39158,39159,2021-12-31,8,7,2.0,NaT,1,0,0,0,...,2021,12,52,NaN,NaN,NaN,31,4,NaN,NaN
39159,39160,2021-12-31,7,12,2.0,NaT,0,0,0,0,...,2021,12,52,NaN,NaN,NaN,31,4,NaN,NaN
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,...,2021,12,52,2019.0,8.0,32.0,31,4,11.0,6.0

In [42]:
s = setup(data = df_train, target = 'buy', session_id=123, ignore_features = ['created_at','signup_date'],numeric_features = ['products_purchased'], numeric_imputation='mean', categorical_imputation='mode')

                               Description             Value
0                               session_id               123
1                                   Target               buy
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data       (39161, 29)
5                           Missing Values              True
6                         Numeric Features                 6
7                     Categorical Features                20
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set      (27412, 106)
12                    Transformed Test Set      (11749, 106)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              565c
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer              mode
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance             False
59                    Fix Imbalance Method             SMOTE

In [43]:
#Getting the best model
best_model = compare_models(sort = 'F1')

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
ada,Ada Boost Classifier,0.9750,0.9404,0.5464,0.9464,0.6921,0.6801,0.7084,1.386
gbc,Gradient Boosting Classifier,0.9749,0.9412,0.5442,0.9452,0.6903,0.6782,0.7066,5.164
catboost,CatBoost Classifier,0.9746,0.9421,0.5456,0.9344,0.6885,0.6762,0.7031,12.153
lightgbm,Light Gradient Boosting Machine,0.9742,0.9401,0.5485,0.9185,0.6862,0.6736,0.6984,0.492
lr,Logistic Regression,0.9747,0.9385,0.5358,0.9542,0.6857,0.6736,0.7045,6.943
xgboost,Extreme Gradient Boosting,0.9735,0.9371,0.5584,0.8877,0.6848,0.6717,0.6918,9.300
lda,Linear Discriminant Analysis,0.9745,0.9285,0.5379,0.9425,0.6842,0.6720,0.7011,0.685
et,Extra Trees Classifier,0.9744,0.9266,0.5336,0.9481,0.6824,0.6702,0.7006,3.854
ridge,Ridge Classifier,0.9744,0.0000,0.5315,0.9489,0.6807,0.6685,0.6994,0.069
rf,Random Forest Classifier,0.9745,0.9290,0.5259,0.9630,0.6795,0.6675,0.7011,3.052
svm,SVM - Linear Kernel,0.9710,0.0000,0.5358,0.8668,0.6556,0.6415,0.6651,0.940
dt,Decision Tree Classifier,0.9514,0.7746,0.5775,0.5265,0.5505,0.5249,0.5257,0.381
nb,Naive Bayes,0.8645,0.9096,0.7649,0.2653,0.3856,0.3341,0.3956,0.068
qda,Quadratic Discriminant Analysis,0.7605,0.6617,0.5515,0.1212,0.1964,0.1223,0.1704,0.418
knn,K Neighbors Classifier,0.9462,0.5783,0.0021,0.0400,0.0040,-0.0008,-0.0021,1.721
dummy,Dummy Classifier,0.9485,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.040

In [51]:
print(best_model)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=123)

In [50]:
#Fine tune the created model
tuned_model = tune_model(best_model)

IntProgress(value=0, description='Processing: ', max=7)

Initiated  . . . . . . . . . . . . . . . . . .                   16:47:46
Status     . . . . . . . . . . . . . . . . . .  Searching Hyperparameters
Estimator  . . . . . . . . . . . . . . . . . .       Ada Boost Classifier

Empty DataFrame
Columns: [Fold, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC]
Index: []

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

KeyboardInterrupt: ignored

In [52]:
df_test = pd.read_csv('test.csv')
df_test

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,0,1,1,0,0,0,0,0
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,0,1,0,0,0,0,0,0
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,0,0,1,0,0,0,0,0
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,0,0,1,0,0,0,1,0
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,0,1,1,1,0,0,1,0

In [53]:
df_test['created_at'] = pd.to_datetime(df_test['created_at'], format = "%Y-%m-%d")
df_test['signup_date'] = pd.to_datetime(df_test['signup_date'], format = "%Y-%m-%d")

df_test['created_at_years'] = df_test['created_at'].dt.year
df_test['created_at_month'] = df_test['created_at'].dt.month
df_test['created_at_week'] = df_test['created_at'].dt.week
df_test['created_at_day'] = df_test['created_at'].dt.day
df_test['created_at_dayofweek'] = df_test['created_at'].dt.dayofweek

df_test['signup_date_year'] = df_test['signup_date'].dt.year
df_test['signup_date_month'] = df_test['signup_date'].dt.month
df_test['signup_date_week'] = df_test['signup_date'].dt.week
df_test['signup_date_at_day'] = df_test['signup_date'].dt.day
df_test['signup_date_at_dayofweek'] = df_test['signup_date'].dt.dayofweek

df_test

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,2022,1,52,1,5,2021.0,8.0,33.0,17.0,1.0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,2022,1,52,1,5,2020.0,5.0,21.0,21.0,3.0
2,39164,2022-01-01,8,7,NaN,NaT,0,0,0,0,...,2022,1,52,1,5,NaN,NaN,NaN,NaN,NaN
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,2022,1,52,1,5,2020.0,6.0,26.0,22.0,0.0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,2022,1,52,1,5,2021.0,3.0,10.0,10.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaT,0,0,0,0,...,2022,3,13,30,2,NaN,NaN,NaN,NaN,NaN
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,...,2022,3,13,30,2,2022.0,3.0,11.0,19.0,5.0
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,2022,3,13,30,2,2021.0,8.0,32.0,15.0,6.0
13182,52344,2022-03-30,14,10,NaN,NaT,0,0,0,0,...,2022,3,13,30,2,NaN,NaN,NaN,NaN,NaN
13183,52345,2022-03-30,13,13,NaN,NaT,0,0,0,0,...,2022,3,13,30,2,NaN,NaN,NaN,NaN,NaN

In [56]:
#Predictions with best_model (Adaboost in this case)
predictions = predict_model(tuned_model, data = df_test, raw_score = True)
predictions

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek,Label,Score_0,Score_1
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,1,5,2021.0,8.0,33.0,17.0,1.0,1,0.4337,0.5663
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,1,5,2020.0,5.0,21.0,21.0,3.0,0,0.5332,0.4668
2,39164,2022-01-01,8,7,NaN,NaT,0,0,0,0,...,1,5,NaN,NaN,NaN,NaN,NaN,0,0.5294,0.4706
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,1,5,2020.0,6.0,26.0,22.0,0.0,1,0.4789,0.5211
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,1,5,2021.0,3.0,10.0,10.0,2.0,0,0.5267,0.4733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaT,0,0,0,0,...,30,2,NaN,NaN,NaN,NaN,NaN,0,0.5817,0.4183
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,...,30,2,2022.0,3.0,11.0,19.0,5.0,0,0.5333,0.4667
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,30,2,2021.0,8.0,32.0,15.0,6.0,0,0.5376,0.4624
13182,52344,2022-03-30,14,10,NaN,NaT,0,0,0,0,...,30,2,NaN,NaN,NaN,NaN,NaN,0,0.5442,0.4558
13183,52345,2022-03-30,13,13,NaN,NaT,0,0,0,0,...,30,2,NaN,NaN,NaN,NaN,NaN,0,0.5836,0.4164

In [57]:
#Creating Submission file for Hackathon
pred = pd.DataFrame()
pred[['id','buy']] = predictions[['id','Label']]
pred[['id','buy']].to_csv('output_v5_2.csv',index = False)