In [ ]:
!pip install pycaret[full]
!pip install xgboost
!pip uninstall scikit-learn -y
!pip install -U pycaret scikit-learn
pip install markupsafe==2.0.1

In [4]:
#Importing Required Stuff
import pandas as pd
import numpy as np
import jinja2
from pycaret.classification import *
import xgboost

In [6]:
df_train = pd.read_csv('train.csv')
df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaN,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaN,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    18250 non-null  float64
 5   signup_date           24048 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB

In [8]:
df_train.describe()

,id,campaign_var_1,campaign_var_2,products_purchased,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
count,39161.000000,39161.000000,39161.000000,18250.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000,39161.000000
mean,19581.000000,6.523812,6.452746,2.154137,0.400092,0.006716,0.102832,0.011465,0.151503,0.499834,0.286612,0.174434,0.011440,0.000383,0.218942,0.000562,0.051020
std,11304.951283,3.472944,2.614296,0.779815,0.509194,0.081676,0.303743,0.106463,0.359681,0.558166,0.455784,0.379689,0.106346,0.019568,0.431544,0.023696,0.220042
min,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9791.000000,4.000000,5.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19581.000000,6.000000,6.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,29371.000000,9.000000,8.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,39161.000000,16.000000,15.000000,4.000000,3.000000,1.000000,1.000000,1.000000,2.000000,3.000000,2.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000

In [9]:
df_train.columns

Index(['id', 'created_at', 'campaign_var_1', 'campaign_var_2',
       'products_purchased', 'signup_date', 'user_activity_var_1',
       'user_activity_var_2', 'user_activity_var_3', 'user_activity_var_4',
       'user_activity_var_5', 'user_activity_var_6', 'user_activity_var_7',
       'user_activity_var_8', 'user_activity_var_9', 'user_activity_var_10',
       'user_activity_var_11', 'user_activity_var_12', 'buy'],
      dtype='object')

In [10]:
#Initializing the pycaret model
clf1 = setup(data = df_train, target = 'buy', ignore_features = ['created_at','signup_date'], categorical_features = ['user_activity_var_1','user_activity_var_2',
      'user_activity_var_3','user_activity_var_4','user_activity_var_5','user_activity_var_6','user_activity_var_7','user_activity_var_8','user_activity_var_9',
      'user_activity_var_10','user_activity_var_11','user_activity_var_12','campaign_var_1','campaign_var_2'], numeric_features = ['products_purchased'])

                               Description             Value
0                               session_id              1312
1                                   Target               buy
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data       (39161, 19)
5                           Missing Values              True
6                         Numeric Features                 2
7                     Categorical Features                14
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set       (27412, 56)
12                    Transformed Test Set       (11749, 56)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              4848
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance             False
59                    Fix Imbalance Method             SMOTE

In [12]:
#Creating a xgboost model
xgboost = create_model('xgboost')

#Fine tune the created model
tuned_xgboost = tune_model(xgboost)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.9457  0.8969  0.6268  0.4811  0.5443  0.5160  0.5211
1       0.9478  0.8764  0.6056  0.4971  0.5460  0.5187  0.5215
2       0.9383  0.8871  0.6170  0.4307  0.5073  0.4755  0.4843
3       0.9482  0.8668  0.6028  0.4971  0.5449  0.5177  0.5204
4       0.9427  0.8738  0.6028  0.4570  0.5199  0.4900  0.4954
5       0.9405  0.8566  0.6099  0.4433  0.5134  0.4826  0.4896
6       0.9416  0.8769  0.6127  0.4531  0.5210  0.4906  0.4970
7       0.9438  0.8892  0.6620  0.4700  0.5497  0.5207  0.5294
8       0.9442  0.8863  0.6690  0.4726  0.5539  0.5251  0.5341
9       0.9416  0.8696  0.6408  0.4550  0.5322  0.5020  0.5104
Mean    0.9435  0.8780  0.6250  0.4657  0.5333  0.5039  0.5103
Std     0.0030  0.0115  0.0231  0.0209  0.0159  0.0171  0.0167

In [15]:
df_test = pd.read_csv('test.csv')
df_test

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,0,1,1,0,0,0,0,0
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,0,1,0,0,0,0,0,0
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,0,0,1,0,0,0,0,0
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,0,0,1,0,0,0,1,0
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,0,1,1,1,0,0,1,0

In [18]:
#Predictions with xgboost
predictions = predict_model(tuned_xgboost, data = df_test, raw_score = True)
predictions

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,Label,Score_0,Score_1
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,1,0,0,0,0,1,0,1,0.0000,1.0000
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,0,0,1,0,0,0,0,0,0.9999,0.0001
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,...,1,0,0,0,0,0,0,0,0.8562,0.1438
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,1,1,0,0,0,2,0,1,0.0017,0.9983
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,0,0,0,0,0,0,0,0,0.9656,0.0344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,...,1,1,0,0,0,0,0,0,0.9997,0.0003
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,...,1,0,0,0,0,0,0,0,0.9979,0.0021
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,0,1,0,0,0,0,0,0,0.9995,0.0005
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,...,0,1,0,0,0,1,0,0,0.9997,0.0003
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,...,1,1,1,0,0,1,0,0,1.0000,0.0000

In [21]:
#Creating Submission file for Hackathon
pred = pd.DataFrame()
pred[['id','buy']] = predictions[['id','Label']]
pred[['id','buy']].to_csv('output.csv',index = False)