In [ ]:
!pip install pycaret[full]
!pip install xgboost
!pip uninstall scikit-learn -y
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1

In [2]:
#Importing Required Stuff
import pandas as pd
import numpy as np
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1
import jinja2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pycaret in /usr/local/lib/python3.7/dist-packages (2.3.10)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.23.2)
Collecting scikit-learn
  Using cached scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
Requirement already satisfied: pyod in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.0.1)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.5.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.1.0)
Requirement already satisfied: spacy<2.4.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (2.2.4)
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: imbalanced-learn==0.7.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.7.0)
Requirement already satisfied: kmodes>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.12.1)
Requirement already satisfied: gensim<4.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.6.0)
Requirement already satisfied: scikit-plot in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3.7)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.5.2)
Requirement already satisfied: numba<0.55 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.51.2)
Requirement already satisfied: pyyaml<6.0.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.4.1)
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.34.0)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.3.2)
Requirement already satisfied: mlxtend>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.19.0)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.0)
Requirement already satisfied: mlflow in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.26.1)
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: yellowbrick>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.3.5)
Requirement already satisfied: Boruta in /usr/local/lib/python3.7/dist-packages (from pycaret) (0.3)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.7/dist-packages (from pycaret) (7.7.0)
Requirement already satisfied: pandas-profiling>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.5)
Requirement already satisfied: pyLDAvis in /usr/local/lib/python3.7/dist-packages (from pycaret) (3.2.2)
Requirement already satisfied: scipy<=1.5.4 in /usr/local/lib/python3.7/dist-packages (from pycaret) (1.5.4)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (1.15.0)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (57.4.0)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim<4.0.0->pycaret) (6.0.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (3.0.29)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (5.1.1)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.1.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from IPython->pycaret) (0.18.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (6.13.0)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (5.4.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (1.1.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets->pycaret) (3.6.0)
Requirement already satisfied: jupyter-client>=6.1.12 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (7.3.1)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.0.0)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (1.5.5)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (6.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.9.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (21.3)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->IPython->pycaret) (0.8.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (2.8.2)
Requirement already satisfied: pyzmq>=22.3 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (23.0.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (0.4)
Requirement already satisfied: jupyter-core>=4.9.2 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets->pycaret) (4.10.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm>=2.3.1->pycaret) (0.37.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (1.4.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (4.33.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pycaret) (7.1.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->pycaret) (4.2.0)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.3.3)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.15.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->pycaret) (21.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->pycaret) (4.11.4)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->pycaret) (5.7.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->pycaret) (0.18.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat>=4.2.0->ipywidgets->pycaret) (3.8.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba<0.55->pycaret) (0.34.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pycaret) (2022.1)
Requirement already satisfied: multimethod>=1.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.8)
Collecting markupsafe~=2.1.1
  Using cached MarkupSafe-2.1.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.27.1)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (4.64.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.1.12)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.2.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (2.11.3)
Requirement already satisfied: pydantic>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (1.9.1)
Requirement already satisfied: phik>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.12.2)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.5.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /usr/local/lib/python3.7/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.7.4)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (2.6.3)
Requirement already satisfied: imagehash in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (4.2.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->IPython->pycaret) (0.7.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.4.1->pycaret) (8.0.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython->pycaret) (0.2.5)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2022.5.18.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.10)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas-profiling>=2.8.0->pycaret) (1.26.9)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.1.3)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.5)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (1.0.7)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.9.1)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (0.4.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (2.0.6)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (7.4.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<2.4.0->pycaret) (3.0.6)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.8.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.13.3)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling>=2.8.0->pycaret) (1.3.0)
Requirement already satisfied: prometheus-flask-exporter in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.20.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.4.36)
Requirement already satisfied: Flask in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.1.4)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.8.0)
Requirement already satisfied: databricks-cli>=0.8.7 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.16.6)
Requirement already satisfied: gunicorn in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (20.1.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (7.1.2)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (0.4.2)
Requirement already satisfied: docker>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (5.0.3)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: querystring-parser in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (1.2.4)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.17.3)
Requirement already satisfied: gitpython>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from mlflow->pycaret) (3.1.27)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (3.2.0)
Requirement already satisfied: pyjwt>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (2.4.0)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.9)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.7/dist-packages (from docker>=4.0.0->mlflow->pycaret) (1.3.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython>=2.1.0->mlflow->pycaret) (4.0.9)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython>=2.1.0->mlflow->pycaret) (5.0.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->mlflow->pycaret) (1.2.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->mlflow->pycaret) (1.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (5.0.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.8.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets->pycaret) (0.5.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.14.1)
Requirement already satisfied: numexpr in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (2.8.1)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Requirement already satisfied: funcy in /usr/local/lib/python3.7/dist-packages (from pyLDAvis->pycaret) (1.17)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pyod->pycaret) (0.13.2)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pyod->pycaret) (0.5.2)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn->pycaret) (0.5.7)
Installing collected packages: markupsafe
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1

In [ ]:
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1
import jinja2

In [1]:
from pycaret.classification import *
import xgboost

/usr/local/lib/python3.7/dist-packages/distributed/config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [3]:
df_train = pd.read_csv('train.csv')
df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaN,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaN,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [4]:
#Reading the Test/Validation Dataset
dfvalidation = pd.read_csv("test.csv")
dfvalidation['buy'] = 5

dfvalidation

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0,5
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0,5
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0,5
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0,5
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,0,1,1,0,0,0,0,0,5
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,0,1,0,0,0,0,0,0,5
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,0,0,1,0,0,0,0,0,5
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,0,0,1,0,0,0,1,0,5
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,0,1,1,1,0,0,1,0,5

In [21]:
##Merging the train and test dataset
dfmerged = pd.concat([df_train,dfvalidation])
dfmerged.shape

(52345, 19)

In [22]:
#Filling Missing Entries with maximum occuring event
dfmerged['signup_date'].fillna('2022-03-06', inplace=True)
dfmerged['products_purchased'].fillna('2.0', inplace=True)
dfmerged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52345 entries, 0 to 13183
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    52345 non-null  int64
 1   created_at            52345 non-null  object
 2   campaign_var_1        52345 non-null  int64
 3   campaign_var_2        52345 non-null  int64
 4   products_purchased    52345 non-null  object
 5   signup_date           52345 non-null  object
 6   user_activity_var_1   52345 non-null  int64
 7   user_activity_var_2   52345 non-null  int64
 8   user_activity_var_3   52345 non-null  int64
 9   user_activity_var_4   52345 non-null  int64
 10  user_activity_var_5   52345 non-null  int64
 11  user_activity_var_6   52345 non-null  int64
 12  user_activity_var_7   52345 non-null  int64
 13  user_activity_var_8   52345 non-null  int64
 14  user_activity_var_9   52345 non-null  int64
 15  user_activity_var_10  52345 non-null  int64
 16  user_activity_var_11  52345 non-null  int64
 17  user_activity_var_12  52345 non-null  int64
 18  buy                   52345 non-null  int64
dtypes: int64(16), object(3)
memory usage: 8.0+ MB

In [23]:
#Creating features from 2 date columns
dfmerged['created_at'] = pd.to_datetime(dfmerged['created_at'], format = "%Y-%m-%d")
dfmerged['signup_date'] = pd.to_datetime(dfmerged['signup_date'], format = "%Y-%m-%d")
dfmerged['created_at_years'] = dfmerged['created_at'].dt.year
dfmerged['created_at_month'] = dfmerged['created_at'].dt.month
dfmerged['created_at_week'] = dfmerged['created_at'].dt.week
dfmerged['created_at_day'] = dfmerged['created_at'].dt.day
dfmerged['created_at_dayofweek'] = dfmerged['created_at'].dt.dayofweek

dfmerged['signup_date_year'] = dfmerged['signup_date'].dt.year
dfmerged['signup_date_month'] = dfmerged['signup_date'].dt.month
dfmerged['signup_date_week'] = dfmerged['signup_date'].dt.week
dfmerged['signup_date_at_day'] = dfmerged['signup_date'].dt.day
dfmerged['signup_date_at_dayofweek'] = dfmerged['signup_date'].dt.dayofweek

dfmerged

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,...,2021,1,53,1,4,2020,9,39,24,3
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,...,2021,1,53,1,4,2020,9,38,19,5
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,...,2021,1,53,1,4,2021,8,32,11,2
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,...,2021,1,53,1,4,2017,10,40,4,2
4,5,2021-01-01,4,6,2.0,2020-06-08,0,0,0,0,...,2021,1,53,1,4,2020,6,24,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,2.0,2022-03-06,0,0,0,0,...,2022,3,13,30,2,2022,3,9,6,6
13180,52342,2022-03-30,12,8,2.0,2022-03-19,1,0,0,0,...,2022,3,13,30,2,2022,3,11,19,5
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,2022,3,13,30,2,2021,8,32,15,6
13182,52344,2022-03-30,14,10,2.0,2022-03-06,0,0,0,0,...,2022,3,13,30,2,2022,3,9,6,6
13183,52345,2022-03-30,13,13,2.0,2022-03-06,0,0,0,0,...,2022,3,13,30,2,2022,3,9,6,6

In [ ]:
# We will use automatic feature one hot encoding using Pycaret  
'''dfmerged = pd.concat([dfmerged[['products_purchased','buy','created_at_week','created_at_day','signup_date_week','signup_date_at_day']],
                      pd.get_dummies(dfmerged['campaign_var_1'],drop_first = True, prefix=['col1']),pd.get_dummies(dfmerged['campaign_var_2'],drop_first = True, prefix=['col2']),
                      pd.get_dummies(dfmerged['user_activity_var_1'],drop_first = True, prefix=['col3']),pd.get_dummies(dfmerged['user_activity_var_2'],drop_first = True, prefix=['col4']),
                      pd.get_dummies(dfmerged['user_activity_var_3'],drop_first = True, prefix=['col5']),pd.get_dummies(dfmerged['user_activity_var_4'],drop_first = True, prefix=['col6']),
                      pd.get_dummies(dfmerged['user_activity_var_5'],drop_first = True, prefix=['col7']),pd.get_dummies(dfmerged['user_activity_var_6'],drop_first = True, prefix=['col8']),
                      pd.get_dummies(dfmerged['user_activity_var_7'],drop_first = True, prefix=['col9']),pd.get_dummies(dfmerged['user_activity_var_8'],drop_first = True, prefix=['col10']),
                      pd.get_dummies(dfmerged['user_activity_var_9'],drop_first = True, prefix=['col11']),pd.get_dummies(dfmerged['user_activity_var_10'],drop_first = True, prefix=['col12']),
                      pd.get_dummies(dfmerged['user_activity_var_11'],drop_first = True, prefix=['col13']),pd.get_dummies(dfmerged['user_activity_var_12'],drop_first = True, prefix=['col14']),
                      pd.get_dummies(dfmerged['created_at_years'],drop_first = True, prefix=['col15']),pd.get_dummies(dfmerged['created_at_month'],drop_first = True, prefix=['col16']),
                      pd.get_dummies(dfmerged['created_at_dayofweek'],drop_first = True, prefix=['col19']),pd.get_dummies(dfmerged['signup_date_year'],drop_first = True, prefix=['col20']),
                      pd.get_dummies(dfmerged['signup_date_month'],drop_first = True, prefix=['col21']),pd.get_dummies(dfmerged['signup_date_at_dayofweek'],drop_first = True, prefix=['col24'])],axis=1)

dfmerged'''

In [10]:
#Will do this automatically in Pycaret
'''###Generating all possible pair of interactions between 2 pair of columns.
##Then removing those columns 

from itertools import combinations
from sklearn.preprocessing import PolynomialFeatures

Y = dfmerged.buy
X = dfmerged.drop(['buy'],1)
 


def add_interactions(df1):
    combos = list(combinations(list(df1.columns), 2))
    colnames = list(df1.columns)+['_'.join(x) for x in combos]
    
    #scaler = MinMaxScaler()
    #scaler.fit(df1)
    #df = scaler.transform(df1)
    
    poly = PolynomialFeatures(interaction_only=True, include_bias=False)
    df1 = poly.fit_transform(df1)
    df1 = pd.DataFrame(df1)
    df1.columns = colnames
    
    noint_indices = [i for i,x in enumerate(list((df1==0).all())) if x]
    df1= df1.drop(df1.columns[noint_indices], axis=1)
    
    return df1
X = add_interactions(X)'''

tcmalloc: large alloc 2072862720 bytes == 0xfae2000 @  0x7ffbefffc1e7 0x7ffbe1f9146e 0x7ffbe1fe1c7b 0x7ffbe1fe235f 0x7ffbe2084103 0x593835 0x548c51 0x5127f1 0x593dd7 0x511e2c 0x549576 0x593fce 0x511e2c 0x593dd7 0x5118f8 0x549576 0x604173 0x62a809 0x59358d 0x515244 0x598ef4 0x515a6e 0x598ef4 0x515a6e 0x598ef4 0x59afff 0x515655 0x593dd7 0x5118f8 0x593dd7 0x511e2c
tcmalloc: large alloc 1706033152 bytes == 0x8b3b8000 @  0x7ffbefffc1e7 0x7ffbe1f9146e 0x7ffbe1fe1c7b 0x7ffbe1fe235f 0x7ffbe2084103 0x593835 0x548c51 0x5127f1 0x593dd7 0x5118f8 0x549576 0x593fce 0x548ae9 0x5127f1 0x549576 0x593fce 0x548ae9 0x5127f1 0x549e0e 0x593fce 0x548ae9 0x5127f1 0x549e0e 0x593fce 0x548ae9 0x5127f1 0x549576 0x593fce 0x548ae9 0x5127f1 0x549576

In [26]:
###Seperate out the training and testing dataset

'''X.index = Y.index
X['buy'] = Y

X_validation = X[39161:]
X = X[0:39161]'''

df_train_final = dfmerged[0:39161]
df_test_final = dfmerged[39161:]

df_train_final

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,...,2021,1,53,1,4,2020,9,39,24,3
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,...,2021,1,53,1,4,2020,9,38,19,5
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,...,2021,1,53,1,4,2021,8,32,11,2
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,...,2021,1,53,1,4,2017,10,40,4,2
4,5,2021-01-01,4,6,2.0,2020-06-08,0,0,0,0,...,2021,1,53,1,4,2020,6,24,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,...,2021,12,52,31,4,2017,10,42,19,3
39157,39158,2021-12-31,3,9,3.0,2022-03-06,0,0,0,0,...,2021,12,52,31,4,2022,3,9,6,6
39158,39159,2021-12-31,8,7,2.0,2022-03-06,1,0,0,0,...,2021,12,52,31,4,2022,3,9,6,6
39159,39160,2021-12-31,7,12,2.0,2022-03-06,0,0,0,0,...,2021,12,52,31,4,2022,3,9,6,6
39160,39161,2021-12-31,2,5,2.0,2019-08-11,1,0,0,0,...,2021,12,52,31,4,2019,8,32,11,6

In [12]:

'''#Proper Column Name 
import re
regex = re.compile(r"\[|\]|<", re.IGNORECASE)
X.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X.columns.values]
X_validation.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in X_validation.columns.values]'''

In [29]:
df_train_final

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_years,created_at_month,created_at_week,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,...,2021,1,53,1,4,2020,9,39,24,3
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,...,2021,1,53,1,4,2020,9,38,19,5
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,...,2021,1,53,1,4,2021,8,32,11,2
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,...,2021,1,53,1,4,2017,10,40,4,2
4,5,2021-01-01,4,6,2.0,2020-06-08,0,0,0,0,...,2021,1,53,1,4,2020,6,24,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,...,2021,12,52,31,4,2017,10,42,19,3
39157,39158,2021-12-31,3,9,3.0,2022-03-06,0,0,0,0,...,2021,12,52,31,4,2022,3,9,6,6
39158,39159,2021-12-31,8,7,2.0,2022-03-06,1,0,0,0,...,2021,12,52,31,4,2022,3,9,6,6
39159,39160,2021-12-31,7,12,2.0,2022-03-06,0,0,0,0,...,2021,12,52,31,4,2022,3,9,6,6
39160,39161,2021-12-31,2,5,2.0,2019-08-11,1,0,0,0,...,2021,12,52,31,4,2019,8,32,11,6

In [27]:
df_train_final.columns

Index(['id', 'created_at', 'campaign_var_1', 'campaign_var_2',
       'products_purchased', 'signup_date', 'user_activity_var_1',
       'user_activity_var_2', 'user_activity_var_3', 'user_activity_var_4',
       'user_activity_var_5', 'user_activity_var_6', 'user_activity_var_7',
       'user_activity_var_8', 'user_activity_var_9', 'user_activity_var_10',
       'user_activity_var_11', 'user_activity_var_12', 'buy',
       'created_at_years', 'created_at_month', 'created_at_week',
       'created_at_day', 'created_at_dayofweek', 'signup_date_year',
       'signup_date_month', 'signup_date_week', 'signup_date_at_day',
       'signup_date_at_dayofweek'],
      dtype='object')

In [30]:
#Classification
s = setup(data = df_train_final, target = 'buy', session_id=123, numeric_features = ['campaign_var_1', 'campaign_var_2','products_purchased', 'user_activity_var_1',
                                                                        'user_activity_var_2', 'user_activity_var_3', 'user_activity_var_4',
                                                                        'user_activity_var_5', 'user_activity_var_6', 'user_activity_var_7',
                                                                        'user_activity_var_8', 'user_activity_var_9', 'user_activity_var_10',
                                                                        'user_activity_var_11', 'user_activity_var_12',
                                                                        'created_at_years', 'created_at_month', 'created_at_week',
                                                                        'created_at_day', 'created_at_dayofweek', 'signup_date_year',
                                                                        'signup_date_month', 'signup_date_week', 'signup_date_at_day',
                                                                        'signup_date_at_dayofweek'], ignore_features = ['id','created_at','signup_date'], feature_interaction = True, feature_selection = True)

                               Description             Value
0                               session_id               123
1                                   Target               buy
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data       (39161, 29)
5                           Missing Values             False
6                         Numeric Features                25
7                     Categorical Features                 0
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set       (27412, 37)
12                    Transformed Test Set       (11749, 37)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              93f4
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection              True
53                Feature Selection Method           classic
54            Features Selection Threshold               0.8
55                     Feature Interaction              True
56                           Feature Ratio             False
57                   Interaction Threshold              0.01
58                           Fix Imbalance             False
59                    Fix Imbalance Method             SMOTE

In [31]:
#Getting the best model
best_model = compare_models(sort = 'F1')

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
xgboost,Extreme Gradient Boosting,0.9738,0.9343,0.5676,0.8827,0.6904,0.6774,0.6957,0.497
gbc,Gradient Boosting Classifier,0.9746,0.9414,0.5456,0.9361,0.6890,0.6767,0.7038,0.463
lightgbm,Light Gradient Boosting Machine,0.9741,0.9410,0.5570,0.9031,0.6886,0.6758,0.6976,0.105
ada,Ada Boost Classifier,0.9745,0.9406,0.5464,0.9308,0.6881,0.6757,0.7021,0.137
catboost,CatBoost Classifier,0.9741,0.9432,0.5492,0.9152,0.6859,0.6733,0.6976,7.057
et,Extra Trees Classifier,0.9744,0.9268,0.5329,0.9492,0.6818,0.6696,0.7004,0.235
rf,Random Forest Classifier,0.9742,0.9256,0.5280,0.9511,0.6782,0.6660,0.6978,0.250
lda,Linear Discriminant Analysis,0.9710,0.9223,0.4692,0.9390,0.6251,0.6118,0.6522,0.048
lr,Logistic Regression,0.9709,0.9037,0.4672,0.9383,0.6227,0.6094,0.6503,1.107
nb,Naive Bayes,0.9706,0.9210,0.4615,0.9375,0.6179,0.6045,0.6461,0.240
qda,Quadratic Discriminant Analysis,0.9705,0.9343,0.4608,0.9354,0.6165,0.6031,0.6447,0.036
ridge,Ridge Classifier,0.9703,0.0000,0.4473,0.9529,0.6081,0.5948,0.6415,0.021
dt,Decision Tree Classifier,0.9515,0.7817,0.5924,0.5266,0.5572,0.5317,0.5329,0.277
knn,K Neighbors Classifier,0.9615,0.7528,0.2937,0.8784,0.4389,0.4241,0.4942,0.320
svm,SVM - Linear Kernel,0.9568,0.0000,0.2988,0.8018,0.4113,0.3940,0.4575,0.156
dummy,Dummy Classifier,0.9485,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.018

In [32]:
print(best_model)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=-1, num_parallel_tree=1, objective='binary:logistic',
              predictor='auto', random_state=123, reg_alpha=0, ...)

In [33]:
#Fine tune the created model
tuned_model = tune_model(best_model)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.9745  0.9277  0.5986  0.8673  0.7083  0.6955  0.7086
1       0.9705  0.9300  0.5282  0.8427  0.6494  0.6348  0.6537
2       0.9748  0.9409  0.6312  0.8396  0.7206  0.7077  0.7157
3       0.9715  0.9283  0.5674  0.8247  0.6723  0.6579  0.6705
4       0.9759  0.9375  0.5957  0.9032  0.7179  0.7059  0.7226
5       0.9745  0.9335  0.5887  0.8737  0.7034  0.6906  0.7053
6       0.9726  0.9145  0.5603  0.8587  0.6781  0.6645  0.6810
7       0.9734  0.9283  0.5745  0.8617  0.6894  0.6760  0.6912
8       0.9708  0.9069  0.5390  0.8352  0.6552  0.6407  0.6575
9       0.9741  0.9306  0.5845  0.8737  0.7004  0.6874  0.7026
Mean    0.9733  0.9278  0.5768  0.8581  0.6895  0.6761  0.6909
Std     0.0017  0.0096  0.0286  0.0220  0.0238  0.0246  0.0230

In [39]:
df_test_final = df_test_final.drop(['buy'], axis = 1)
df_test_final.columns

Index(['id', 'created_at', 'campaign_var_1', 'campaign_var_2',
       'products_purchased', 'signup_date', 'user_activity_var_1',
       'user_activity_var_2', 'user_activity_var_3', 'user_activity_var_4',
       'user_activity_var_5', 'user_activity_var_6', 'user_activity_var_7',
       'user_activity_var_8', 'user_activity_var_9', 'user_activity_var_10',
       'user_activity_var_11', 'user_activity_var_12', 'created_at_years',
       'created_at_month', 'created_at_week', 'created_at_day',
       'created_at_dayofweek', 'signup_date_year', 'signup_date_month',
       'signup_date_week', 'signup_date_at_day', 'signup_date_at_dayofweek'],
      dtype='object')

In [43]:
#Predictions with best_model (XGBoost in this case)
predictions = predict_model(best_model, data = df_test_final, raw_score = True)
predictions

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,created_at_day,created_at_dayofweek,signup_date_year,signup_date_month,signup_date_week,signup_date_at_day,signup_date_at_dayofweek,Label,Score_0,Score_1
0,39162,2022-01-01,2,2,2.0,2021-08-17,1,1,0,0,...,1,5,2021,8,33,17,1,1,0.0020,0.9980
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,1,5,2020,5,21,21,3,0,0.9995,0.0005
2,39164,2022-01-01,8,7,2.0,2022-03-06,0,0,0,0,...,1,5,2022,3,9,6,6,0,0.9998,0.0002
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,1,5,2020,6,26,22,0,1,0.3255,0.6745
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,1,5,2021,3,10,10,2,0,0.9975,0.0025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,2.0,2022-03-06,0,0,0,0,...,30,2,2022,3,9,6,6,0,1.0000,0.0000
13180,52342,2022-03-30,12,8,2.0,2022-03-19,1,0,0,0,...,30,2,2022,3,11,19,5,0,0.9959,0.0041
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,30,2,2021,8,32,15,6,0,1.0000,0.0000
13182,52344,2022-03-30,14,10,2.0,2022-03-06,0,0,0,0,...,30,2,2022,3,9,6,6,0,1.0000,0.0000
13183,52345,2022-03-30,13,13,2.0,2022-03-06,0,0,0,0,...,30,2,2022,3,9,6,6,0,1.0000,0.0000

In [44]:
#Creating Submission file for Hackathon
pred = pd.DataFrame()
pred[['id','buy']] = predictions[['id','Label']]
pred[['id','buy']].to_csv('output_v7_2.csv',index = False)