In [ ]:
!pip install pycaret[full]
!pip install xgboost
!pip uninstall scikit-learn -y
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1

In [ ]:
#Importing Required Stuff
import pandas as pd
import numpy as np
!pip install -U pycaret scikit-learn
!pip install markupsafe==2.0.1
import jinja2

In [ ]:
from pycaret.classification import *
import xgboost

In [2]:
df_train = pd.read_csv('train.csv')
df_train

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39156,39157,2021-12-31,11,11,2.0,2017-10-19,1,0,0,0,1,1,1,0,0,0,0,0,0
39157,39158,2021-12-31,3,9,3.0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0
39158,39159,2021-12-31,8,7,2.0,NaN,1,0,0,0,1,0,1,0,0,0,0,0,0
39159,39160,2021-12-31,7,12,2.0,NaN,0,0,0,0,0,1,0,0,0,0,1,0,0
39160,39161,2021-12-31,2,5,NaN,2019-08-11,1,0,0,0,0,0,1,0,0,0,0,0,0

In [6]:
df_train.isna().sum()

id                          0
created_at                  0
campaign_var_1              0
campaign_var_2              0
products_purchased      20911
signup_date             15113
user_activity_var_1         0
user_activity_var_2         0
user_activity_var_3         0
user_activity_var_4         0
user_activity_var_5         0
user_activity_var_6         0
user_activity_var_7         0
user_activity_var_8         0
user_activity_var_9         0
user_activity_var_10        0
user_activity_var_11        0
user_activity_var_12        0
buy                         0
dtype: int64

In [8]:
s = setup(data = df_train, target = 'buy', session_id=123, ignore_features = ['created_at','signup_date'], numeric_features = ['products_purchased'],numeric_imputation='mean', categorical_imputation='mode')

                               Description             Value
0                               session_id               123
1                                   Target               buy
2                              Target Type            Binary
3                            Label Encoded              None
4                            Original Data       (39161, 19)
5                           Missing Values              True
6                         Numeric Features                 2
7                     Categorical Features                14
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set       (27412, 55)
12                    Transformed Test Set       (11749, 55)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              8a2c
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer              mode
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44             Remove Perfect Collinearity              True
45                              Clustering             False
46                    Clustering Iteration              None
47                     Polynomial Features             False
48                       Polynomial Degree              None
49                    Trignometry Features             False
50                    Polynomial Threshold              None
51                          Group Features             False
52                       Feature Selection             False
53                Feature Selection Method           classic
54            Features Selection Threshold              None
55                     Feature Interaction             False
56                           Feature Ratio             False
57                   Interaction Threshold              None
58                           Fix Imbalance             False
59                    Fix Imbalance Method             SMOTE

In [9]:
#Getting the best model
best_model = compare_models(sort = 'F1')

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
ada,Ada Boost Classifier,0.9746,0.9147,0.5350,0.9524,0.6848,0.6726,0.7034,0.839
lda,Linear Discriminant Analysis,0.9744,0.9075,0.5350,0.9433,0.6822,0.6699,0.6996,0.313
svm,SVM - Linear Kernel,0.9743,0.0000,0.5343,0.9432,0.6816,0.6693,0.6991,0.115
gbc,Gradient Boosting Classifier,0.9744,0.9118,0.5322,0.9488,0.6814,0.6692,0.6999,2.710
ridge,Ridge Classifier,0.9742,0.0000,0.5315,0.9441,0.6795,0.6671,0.6975,0.052
catboost,CatBoost Classifier,0.9739,0.9085,0.5350,0.9280,0.6784,0.6658,0.6935,10.573
lr,Logistic Regression,0.9742,0.9146,0.5251,0.9552,0.6771,0.6649,0.6976,1.356
lightgbm,Light Gradient Boosting Machine,0.9740,0.9101,0.5301,0.9393,0.6771,0.6647,0.6946,0.369
xgboost,Extreme Gradient Boosting,0.9737,0.9057,0.5322,0.9256,0.6754,0.6628,0.6906,5.223
et,Extra Trees Classifier,0.9692,0.8275,0.5549,0.7869,0.6503,0.6348,0.6456,2.668
rf,Random Forest Classifier,0.9696,0.8590,0.5442,0.8049,0.6488,0.6335,0.6471,2.184
dt,Decision Tree Classifier,0.9640,0.7872,0.5492,0.6906,0.6113,0.5927,0.5972,0.153
nb,Naive Bayes,0.5255,0.8947,0.9157,0.0999,0.1768,0.0922,0.1951,0.053
qda,Quadratic Discriminant Analysis,0.4511,0.5982,0.7622,0.0712,0.1294,0.0389,0.0915,0.137
knn,K Neighbors Classifier,0.9501,0.6941,0.0609,0.6868,0.1113,0.1037,0.1930,11.025
dummy,Dummy Classifier,0.9485,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.036

In [10]:
print(best_model)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=123)

In [11]:
#Fine tune the created model
tuned_model = tune_model(best_model)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.9741  0.9169  0.5493  0.9176  0.6872  0.6746  0.6989
1       0.9734  0.9027  0.5000  0.9726  0.6605  0.6481  0.6872
2       0.9788  0.9288  0.6099  0.9663  0.7478  0.7374  0.7587
3       0.9748  0.9185  0.5248  0.9737  0.6820  0.6701  0.7050
4       0.9767  0.9324  0.5461  1.0000  0.7064  0.6954  0.7301
5       0.9730  0.9242  0.5248  0.9136  0.6667  0.6537  0.6811
6       0.9752  0.8937  0.5461  0.9506  0.6937  0.6817  0.7103
7       0.9730  0.9160  0.4965  0.9589  0.6542  0.6416  0.6795
8       0.9723  0.9004  0.4965  0.9333  0.6481  0.6351  0.6696
9       0.9745  0.9138  0.5423  0.9390  0.6875  0.6752  0.7030
Mean    0.9746  0.9147  0.5336  0.9526  0.6834  0.6713  0.7023
Std     0.0019  0.0119  0.0324  0.0257  0.0278  0.0285  0.0251

In [12]:
df_test = pd.read_csv('test.csv')
df_test

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,0,1,1,0,0,0,0,0
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,0,1,0,0,0,0,0,0
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,0,0,1,0,0,0,0,0
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,0,0,1,0,0,0,1,0
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,0,1,1,1,0,0,1,0

In [13]:
#Predictions with best_model (Adaboost in this case)
predictions = predict_model(tuned_model, data = df_test, raw_score = True)
predictions

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,...,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,Label,Score_0,Score_1
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,...,1,0,0,0,0,1,0,1,0.4338,0.5662
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,...,0,0,1,0,0,0,0,0,0.5368,0.4632
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,...,1,0,0,0,0,0,0,0,0.5155,0.4845
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,...,1,1,0,0,0,2,0,1,0.4766,0.5234
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,...,0,0,0,0,0,0,0,0,0.5225,0.4775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13179,52341,2022-03-30,16,12,NaN,NaN,0,0,0,0,...,1,1,0,0,0,0,0,0,0.5699,0.4301
13180,52342,2022-03-30,12,8,NaN,2022-03-19,1,0,0,0,...,1,0,0,0,0,0,0,0,0.5290,0.4710
13181,52343,2022-03-30,14,14,3.0,2021-08-15,0,0,1,0,...,0,1,0,0,0,0,0,0,0.5809,0.4191
13182,52344,2022-03-30,14,10,NaN,NaN,0,0,0,0,...,0,1,0,0,0,1,0,0,0.5378,0.4622
13183,52345,2022-03-30,13,13,NaN,NaN,0,0,0,0,...,1,1,1,0,0,1,0,0,0.5715,0.4285

In [14]:
#Creating Submission file for Hackathon
pred = pd.DataFrame()
pred[['id','buy']] = predictions[['id','Label']]
pred[['id','buy']].to_csv('output_v2.csv',index = False)